.container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
h1{
    color: #25a59e;
    border: 0.7px;
    font-family: Gilda Display;
    font-size: 16px;
    font-weight: 400;
    width: 52px;
    line-height: 18.83px;
    letter-spacing: 0.1em;
    text-align: left;
}
.title{
    width: 327px;
    height: 122px;
    justify-content: center;
    font-family: Gilda Display;
    font-size: 52px;
    font-weight: 400;
    line-height: 61.2px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: -25px;
    margin-left: 65px;
}
h3{
    width: 335px;
    height: 104px;
    gap: 0px;
    border: 0.2px 0px 0px 0px;
    font-family: Gilda Display;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    margin-left: 40px; 
}
.paragraph{
    width: 335px;
    height: 48px;
    font-family: Urbanist;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-top: -30px;
    margin-left: 40px; 
}
container{
    display: flex;
}
.menu{
    margin-left: auto;
    border: 1.5px;
}
.background {
    background-image: url(/pictures/Blurry.jpg);
}
.first{
    width: 432.6px;
    height: 228px;
    margin-left: 40PX;
}
.word{
    color: #25a59e;
}
.first-word{
    color: darkturquoise;
    margin-right: 7px;
    margin-top: 40px;
    width: 52px;
    height: 19px;
    gap: 0px;
    border: 0.7px 0px 0px 0px;
    font-family: Gilda Display;
    font-size: 16px;
    line-height: 18.83px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: 50px;
    margin-top: 80px;
}
.one{
    padding-left: 24px;
    padding-right: 24px;
}
hr{
    color: darkturquoise;
}
.lake{
    width: 311px;
    height: 262px;
    gap: 0px;
    margin-left: 75px;
}
.caption{
    width: 303px;
    height: 28px;
    gap: 0px;
    font-family: Urbanist;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 35px;
}
.fig{
    display: flex;
    margin-left: 75px;
}
.location{
    width: 17px;
    height: 20px;
    top: 2px;
    left: 3.5px;
    gap: 0px;
    margin-right: 15px;
}
.place{
    width: 271px;
    height: 24px;
    gap: 0px;
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 600;
    
}
.pics{
    width: 338.67px;
    height: 248px;
    gap: 0px;
    margin-top: 45px;
    margin-left: 70px;
    transform: rotate(-180deg);
    border: 1px;
    background-color:  #f2f2f2;
}
.no{
    padding-bottom: 5px;
    margin-top: -25px;
    margin-left: 75px;
}
.Why{
    width: 335px;
    height: 104px;
    font-family: Gilda Display;
    font-size: 40px;
    line-height: 52px;
    text-align: center; 
    padding-top: 5px;
    margin-bottom: 5px;
}
.we{
    width: 335px;
    height: 144px;
    font-family: Urbanist;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-top: 0;
}
.Best{
    width: 295px;
    height: 80px;
    font-family: Gilda Display;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    margin-top: 28px;
    margin-left: 65px;
    margin-bottom: 0;
    border: 30px;
}
.mine{
    margin-top: 4px;
    margin-left: 65px;
    margin-right: 50px;
    border: 50px;
}
.end{
    display: flex;
    justify-content: flex-end;
    margin-right: 54px;
    margin-top: 57px;
    margin-bottom: 28px;
}
.More{
    width: 112px;
    height: 23px;
    color: darkturquoise;
    margin-right: -8px;
}
.ash{
    background-color: #25a59e;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.Always{
    width: 295px;
    height: 80px;
    font-family: Gilda Display;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    color: white;
    padding-top: 30px;
    margin-left: 65px;
    border: 30px;
}
.colored{
    color: white;
    margin-left: 22px; 
    margin-right: 15px;
}
.white{
    margin-right: -50px;
}
.Line{
    height: 48px;
    font-family: Urbanist;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: white;
    margin-left: 65px;
    margin-top: -50px;
}
.Ready{
    width: 295px;
    height: 80px;
    gap: 0px;
    border: 0.4px 0px 0px 0px;
    font-family: Gilda Display;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    margin-left: 65px;
    margin-bottom: 15px;
    margin-top: 25px;

}
.Train{
    width: 335px;
    height: 104px;
    gap: 0px;
    border: 0.2px 0px 0px 0px;
    font-family: Gilda Display;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 80px;
    margin-left: 80px;
}
.last{
    color: #25a59e;
    padding-right: -25px;
}
.alpha{
    width: 335px;
    height: 96px;
    font-family: Urbanist;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-left: 75px;    
}

}
.Watch{
    width: 335px;
    height: 156px;
    gap: 0px;
    border: 0.2px 0px 0px 0px;
    margin-top: 10px;
    margin-bottom: 27px;
    font-family: Gilda Display;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-left: 70px;
}
.background-2{
    position: relative;
}
.pic{
    width: 335.11px;
    height: 247px;;
    margin-left: 65px;
    margin-right: 10px;
    margin-top: -150px;
    margin-bottom: 70px;
    border: none;
    outline: none;
}
.small{
    position: absolute;
    z-index: -1;
    transform: translateX(-50px);
    margin-bottom: 70px;
    margin-left: -320px;
    width: 400px;
}
.video{
    margin-left: 50px;
}
.get{
    width: 335px;
    height: 104px;
    gap: 0px;
    border: 0.2px 0px 0px 0px;
    font-family: Gilda Display;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 50px;
}
.Click button{
    width: 147px;
    height: 54px;
    padding: 16px 32px 16px 32px;
    margin-left: 70px;
    margin-top: 5px;
}

h5{
    width: 330.67px;
    height: 36px;
    gap: 0px;
    font-family: Urbanist;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
}
.third-word{
    color: #25a59e;
}
.fourth-word{
    align-self: center;
}
.Click{
    display: inline-block;
    background-color: rgba(37, 165, 158, 1);
    color: white;
    padding: 16px 32px;
    margin-left: 50px;
    text-decoration: none;
}
.last{
    color: darkturquoise;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
hr{
    height: 2px;
    background-color: darkturquoise;
    border-color: darkturquoise;
    margin-top: auto;
    margin-left: 50px;
    margin-right: 50px;
}
.mega{
    font-family: Urbanist;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
.icons{
    width: 335px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 60px;
}
.path-2{
    padding-right: 40px;
}

